#tips {
  width: 600px;
  float: left;
  margin: {left: 20px; right: 20px}
  .tip {
    td {padding: 20px;}
    .tip_resume {
      padding-top: 5px;
    }
    .tag {
      margin: {left: 3px; right: 3px;}
    }
  }
}

.link {
  margin: {top: 30px; bottom: 40px;}

  .link_iframe_container {
    margin: {top: 15px; bottom: 10px;}
    padding: 5px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
  }
}

#tag_cloud {
  .tag_cloud_tag{
    margin: 5px;
    display: inline-block;
  }

  $base_size: 1em;
  $size_increment: 0.4em;

  .tag_level1{
     font-size: $base_size;
  }
  .tag_level2{
    font-size: $base_size + $size_increment;
  }
  .tag_level3{
    font-size: $base_size + 2 * $size_increment;
  }
  .tag_level4{
    font-size: $base_size + 3 * $size_increment;
  }
}

.hero-unit {
  padding: {top: 0px, !important; left: 0px !important;}
  padding-top: 20px !important;

  background-color: white !important;
  border: none !important;
  border-top: none !important;
  box-shadow: none !important;

  .page-header, .page-header h1 {
    margin: 0px;

  }
}

#last_tips {
  tr {
    td { padding: 8px;}
  }
}

#top_row, #main_row {
  position: relative;
}

#edit_tip_btn {
  position: absolute;
  top: -40px;
  right: 0px;
}

#disqus_thread {
  margin-top: 30px;
}

#category_and_tags {
  padding-left: 0px;
  background-color: white;

  #category {
    margin-right: 20px;
  }
}

ul#categories {
  margin-top: 10px;
}