%hr.space
.footer
  .container
    .row
      .span4
        %h3= content_with_icon t("footer.address"), "pencil", :white
      .span4
        %h3= content_with_icon t("footer.email"), "envelope", :white
      .span4
        %h3= content_with_icon t("footer.copyright.title"), "search", :white
