.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = t("logo")
      .nav-collapse
        = tabs_tag open_tabs: {class: 'nav'}, builder: MenuBuilder do |tab|
          = tab.home [:tips]
          = tab.new  [:new, :tip]

